_site
.DS_Store
.jekyll
.jekyll-metadata
.bundle
.sass-cache
Gemfile.lock
node_modules
package.json
*.gem
*.gemspec
.jekyll-cache
vendor

# comment out easter-egg.js ince obfuscated for github :) looking at you git history!
_includes/easter-eggs.js
_includes/.eggs
.eggs

# Kate Swap Files #
.*.kate-swp
.swp.*

