---
layout: default
---

<section class="about">
  <p>With 8 years of professional experience as a software engineer,
    I have worked with various technologies on both small and massive,
    mission-critical software products and services.</p>

  <p>In the last year, I discovered the world of healthcare IT,
    and I am excited about the future of technology in this evolving industry.
    As a highly experienced software engineer with only basic knowledge in
    biology, biochemistry, and genomics, I have been taking MOOC courses in
    health informatics systems and bioinformatics.</p>
    
  <p>I am currently working towards earning a CAHIMS certification and am also looking
    to contribute to open-source bioinformatics projects. Additionally, I am interested
    in volunteer or entry-level positions for any organization seeking software talent to
    aid in their bioinformatics research or products.</p>
 </section>   

<div class="posts">
  {% for post in paginator.posts %}
    <article class="post">
      <a href="{{ site.baseurl }}{{ post.url }}">
        <h1>{{ post.title }}</h1>

        <div>
          <p class="post_date">{{ post.date | date: "%B %e, %Y" }}</p>
        </div>
      </a>
      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}

  <!-- pagination -->
  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
    {% else %}
      <span>&laquo; Prev</span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <span class="webjeda">{{ page }}</span>
      {% elsif page == 1 %}
        <a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
      {% else %}
        <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
    {% else %}
      <span>Next &raquo;</span>
    {% endif %}
  </div>
  {% endif %}
</div>
