<section class="about">
    <p>With 8 years of professional experience as a software engineer,
      I have worked with various technologies on both small and massive,
      mission-critical software products and services.</p>
      <hr>  
</section>

<div class="row">

    <div class="col">
        <p>TEST</p>
    </div>

    <div class="col">
        <p>TEST</p>
    </div>

    <div class="col">
        <p>TEST</p>
    </div>

</div>

<!-- 
<div class="row--25-25-25 landing-about-contact">

    <div class="col">
        <a href="https://www.linkedin.com/in/brett-fraley-446134125/" target="_blank">
            <p>LinkedIn <i class="fa fa-linkedin-square fa-4x" aria-hidden="true"></i></p>
        </a>
    </div>

    <div class="col">
        <a href="https://github.com/BrettFraley" target="_blank">
            <p>Github <i class="fa fa-github fa-4x" aria-hidden="true"></i></p>
        </a>
    </div>

    <div class="col">
        <a href="https://github.com/BrettFraley" target="_blank">
            <p>An Old Github <i class="fa fa-github fa-2x" aria-hidden="true"></i></p>
        </a>
    </div>

</div> -->

