<section class="about">
    <p>With 8 years of professional experience as a software engineer,
      I have worked with various technologies on both small and massive,
      mission-critical software products and services.</p>
      <hr>

    <h1>2024 Goals in Health IT and Bioinformatics</h1>
  
    <p>In the last year (2023-2024), I discovered the world of healthcare IT,
      and I am excited about the future of technology in this evolving industry.
      As a highly experienced software engineer with only basic knowledge in
      biology, biochemistry, and genomics, I have been taking MOOC courses in
      health informatics systems and bioinformatics.</p>
      
    <p>I am currently working towards earning a CAHIMS certification and am also looking
      to contribute to open-source bioinformatics projects. Additionally, I am interested
      in volunteer or entry-level positions for any organization seeking software talent to
      aid in their bioinformatics research or products.</p>
</section>
