.wrapper-main {
    margin-top: -25px;
}

.header-tagline {
    padding: 5px;
    border-radius: 5px;
}

/*  Note: these show/hide transitions to
 *  avoid sudden page reflow or content immediately
 *  snapping are tricky. There's 50 ways to hack this
 *  out and none of them are nice.
 */

.presentation {
    text-align: center;
    border-radius: 25px;
    padding: 20px;
    font-size: larger;
    background-color: #000;
    color: #eee;
    min-height: 386px;
    transition: height ease 60ms;
    transition-duration: 1s;
    margin: auto;
    font-family: monospace;
}

.presentation button {
    padding: 10px;
    border-radius: 10px;
    font-size: 1.5rem;
    background-color: #000;
    color: #008fcc;
    visibility: none;
    opacity: 0.5;
}

.presentation button:hover {
    opacity: 1;
    cursor: pointer;
}

#egg-game-init-show {
    transition: all ease 60ms;
    transition-duration: .75s;
    font-size: inherit;
    opacity: 1;
    color: #eee;
}

#egg-game-init-hide {
    transition: opacity min-height font-size ease 60ms;
    transition-duration: 1s;
    font-size: 0px;
    opacity: 0;
    min-height: 0;
    max-height: 0;
    height: 0;
    color: #fff;
    background-color: #fff;
    padding: 0;
}

#landing_1_active {
    letter-spacing: .15em;
    transition: letter-spacing ease 60ms;
    transition-duration: 1s;
    font-family: monospace;
    color: lime;
    background-color: #222;
}

#landing_1_inactive {
    letter-spacing: inherit;
    transition: letter-spacing ease 60ms;
    transition-duration: 1s;
    font-family: inherit;
    color: inherit;
    background-color: inherit;
    border-radius: inherit;
}
